<a href="https://colab.research.google.com/github/fanTaux/SamsungInnovationCampus7/blob/main/Tugas_1_Variables_%26_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tugas 1 : Menyimpan dan Menampilkan Data

In [ ]:
produk_pertama = "Kopi Pagi"
harga_kopi = 18000.5
produk_kedua = "Roti Cokelat"
harga_roti = 10000
status_kesediaan = True

In [ ]:
print("Nama Produk 1:", produk_pertama)
print("Harga Produk 1:", harga_kopi)
print("Nama Produk 2:", produk_kedua)
print("Harga Produk 2:", harga_roti)
print("Status Kesediaan:", status_kesediaan)

Nama Produk 1: Kopi Pagi
Harga Produk 1: 18000.5
Nama Produk 2: Roti Cokelat
Harga Produk 2: 10000
Status Kesediaan: True

In [ ]:
print(type(status_kesediaan))

<class 'bool'>

Tugas 2 : Konversi Tipe Data dan Input Pengguna

In [ ]:
jumlah_kopi_str = input("Masukkan jumlah pesanan kopi : ")
jumlah_roti_str = input("Masukkan jumlah pesanan roti : ")

Masukkan jumlah pesanan kopi : 2
Masukkan jumlah pesanan roti : 3

In [ ]:
jumlah_kopi_int = jumlah_kopi_str
jumlah_roti_int = jumlah_roti_str

print(type(jumlah_kopi_str))
print(type(jumlah_roti_str))

jumlah_kopi_int = int(jumlah_kopi_str)
jumlah_roti_int = int(jumlah_roti_str)

print(type(jumlah_kopi_int))
print(type(jumlah_roti_int))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

Tugas 3 : Operasi pada Angka

In [2]:
harga_kopi = 18000.5
harga_roti = 10000
jumlah_kopi_int = 2
jumlah_roti_int = 3

In [ ]:
total_belanja = (harga_kopi * jumlah_kopi_int) + (harga_roti * jumlah_roti_int)
uang_bayar = 50000
kembalian = uang_bayar - total_belanja
print("Total harga kopi : ", harga_kopi * jumlah_kopi_int)
print("Total harga roti : ", harga_roti * jumlah_roti_int)
print("Total belanja :", total_belanja)
print("Uang yang dibayarkan : ", uang_bayar)
print("Kembalian", kembalian)

Total harga kopi :  36001.0
Total harga roti :  30000
Total belanja : 66001.0
Uang yang dibayarkan :  50000
Kembalian -16001.0

Tugas 4 : Operasi pada String

In [3]:
nama_pelanggan = input("Masukkan nama pelanggan : ")
pesan_terima_kasih = ("Terima kasih, " + nama_pelanggan + " sudah berbelanja di Coffee Shop Bahagia!")
bintang_pemisah = "*" * 25
total_harga = f"Total harga Kopi Pagi adalah Rp{harga_kopi * jumlah_kopi_int}"

print(bintang_pemisah, end="\n\n")
print(pesan_terima_kasih, end="\n\n")
print(bintang_pemisah)

print(total_harga)

Masukkan nama pelanggan : Farizz
*************************

Terima kasih, Farizz sudah berbelanja di Coffee Shop Bahagia!

*************************
Total harga Kopi Pagi adalah Rp36001.0